.sidebar {
    width: 220px;
    background: #202c45;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding-left: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .main-content {
    margin-left: 220px;
    padding: 20px;
  }
  